<head>
    <meta charset="utf-8" />
    <!-- Open Graph -->
    <meta property="og:title" content="NosZanou" />
    <meta property="og:url" content="https://noszanou.com/" />
    <meta property="og:image" content="https://noszanou.com/assets/img/nz32x32.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:description"
        content="NosZanou, Item, Mob, Buff and Skill data Picker<center><img src='https://noszanou.com/assets/img/nz.png'/></center>">
    <meta property="og:site_name" content="NosZanou" />

    <link rel="icon" href="./Images/favicon.ico" type="image/x-icon">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- CSS -->
    <link href="./css/style.css?1" rel="stylesheet" type="text/css" />
    <link href="https://nosapki.com/css/nt.css?1" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link href="./css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="panel" v-cloak>
        <div id="pickers">
            <div class="item" @click="switchTo('items')">
                <p>{{ $t('items') }}</p>
            </div>
            <div class="monster" @click="switchTo('monsters')">
                <p>{{ $t('monsters') }}</p>
            </div>
            <div class="card" @click="switchTo('cards')">
                <p>{{ $t('buffs') }}</p>
            </div>
            <div class="skill" @click="switchTo('skills')">
                <p>{{ $t('skills') }}</p>
            </div>
        </div>
        <div id="search">
            <!-- Search panel -->
            <img class="logo" src="./Images/logo_nz.png" />
            <div class="name">
                <input type="text" v-model="selectedOption.filter" placeholder="Name/Vnum...">
                <span></span>
            </div>
            <select v-for="(value, key) in selectedOption.dropdown" v-model="selectedOption.dropdown[key]"
                class="select" :class="key" @change="changeLanguage">
                <option v-for="option in list[key]">{{option}}</option>
            </select>
        </div>

        <div id="info">
            <!-- Info panel -->
            <div v-if="currentItem != null">
                <div class="box-einfo" style="max-width: 190px;">
                    <img class="icon" loading="lazy" :src="getItemIconUrl(currentItem.IconId)"
                        @error="handleImageError">
                    <p class="name">{{ getItemName() }}</p>
                    <div v-if="type == 'cards'">
                        <p class="level" v-html="currentItem.BuffLevel[selectedOption.dropdown.lang].replace(/\[br\]/g, '<br>')"></p>
                        <p class="time">{{ currentItem.BuffDuration[selectedOption.dropdown.lang] }}</p>
                        <p v-if="getDescription != 'NONE'"class="descr" v-html="getDescription().replace(/\[n\]/g, '<br>')"></p>
                        <div class="bonus">
                            <p v-for="bonus in currentItem.BuffId">{{ bonus[selectedOption.dropdown.lang] }}</p>
                        </div>
                        <p v-if="currentItem.BuffIdSecond && currentItem.BuffIdSecond.length > 0" class="sideTime">{{ currentItem.BuffDurationSecond[selectedOption.dropdown.lang] }}</p>
                        <div v-if="currentItem.BuffIdSecond && currentItem.BuffIdSecond.length > 0" class="bonus">
                            <p v-for="bonus in currentItem.BuffIdSecond">{{ bonus[selectedOption.dropdown.lang] }}</p>
                        </div>
                    </div>
                    
                </div>
                <!--<div class="title">
                    <img class="icon" loading="lazy" :src="getItemIconUrl(currentItem.IconId)"
                        @error="handleImageError">
                    <br> {{currentItem.Name[this.selectedOption.dropdown.lang]}}
                    <div v-if="type == 'items' && currentItem.Description[selectedOption.dropdown.lang] != 'NONE'">
                        <br> <span
                            v-html="currentItem.Description[selectedOption.dropdown.lang].replace(/\[n\]/g, '<br>')"
                            style="color: red;"></span>
                    </div>
                </div>-->
                <p>
                    <strong v-if="editingMode">
                        <textarea v-model="currentJson" cols="31" rows="30"></textarea>
                        <br>
                        <button class="cancel" type="button" @click="editingMode = false">Cancel</button>
                    </strong>
                    <strong v-for="(option, key) in currentItem" 
                        v-if="!['Name', 'Description', 'BuffLevel', 'BuffDuration', 'BuffId', 'BuffDurationSecond', 'BuffIdSecond'].includes(key) && !editingMode">
                        {{ key }} : {{ option }}
                        <br>
                    </strong>
                </p>
            </div>
        </div>

        <div id="list" v-on:scroll="display = display < currentList.length ? display + offset : display">
            <!-- List panel -->
            <div class="box" v-for="item in orderedList" v-if="checkItem(item)">
                <img loading="lazy" :src="getItemIconUrl(item.IconId)" @error="handleImageError"
                    @mouseover="currentItem = editingMode ? currentItem : item;"
                    @click="editingMode = !editingMode; currentJson = JSON.stringify(currentItem, null, 4)" />
            </div>
        </div>
    </div>

    <!--Script-->
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <script src="./js/i18n.js"></script>
    <script src="./js/app.js?1" type="text/javascript"></script>
</body>